<div class="container">
  <h1>Add New Profile</h1>
  <hr>
  <div class="row">


    <div class="col-md-9 personal-info">

      <h3>Personal info</h3>

      <form class="form-horizontal"
        role="form"
        novalidate
        [formGroup]="userForm">

        <div class="form-group">
          <label class="control-label col-lg-4">Valid with sms?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="yes" formControlName="sms">Yes
            </label>
          </div>
          <div div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="no" formControlName="sms"> No
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Token:
            <span *ngIf="phoneRequired" class="text-danger font-weight-bold">*</span>
            <span *ngIf="(userForm.get('token').touched || userForm.get('token').dirty)&&userForm.get('token').errors?.required" class="text-danger">{{exception.required}}</span>
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" formControlName="token" [ngClass]="{
              'is-invalid':(userForm.get('token').touched || userForm.get('token').dirty)
                &&!userForm.get('token').valid}">
            <span *ngIf="userForm.get('token').errors?.pattern" class="text-danger">{{exception.token}}</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{
          'has-error':(userForm.get('firstName').touched || userForm.get('firstName').dirty)
            &&!userForm.get('firstName').valid
        }">
          <!-- class="has-error"-->
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="firstName" >
            <!--<div>
              <span class="text-danger">Error message</span>
            </div>-->
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="lastName">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text"  formControlName="email">
          </div>
        </div>

        <div class="col-lg-8">
          <input class="form-control" type="text" formControlName="phone" placeholder="+99(99)9999-9999" [ngClass]="{
            'is-invalid':(userForm.get('phone').touched || userForm.get('phone').dirty)
              &&!userForm.get('phone').valid}">
          <span *ngIf="userForm.get('phone').errors?.pattern" class="text-danger">{{exception.phone}}</span>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" type="text"  formControlName="username">
            <span *ngIf="userExists" class="text-danger">this user already exists !</span>
          </div>
        </div>

        <div>
          <div formGroupName="pswdGroup">
            <div class="form-group">
              <label class="col-md-3 control-label">Password
                <span class="text-danger font-weight-bold">*</span>:
                <span *ngIf="(userForm.get('pswdGroup.password').touched || userForm.get('pswdGroup.password').dirty)&&userForm.get('pswdGroup.password').errors?.required" class="text-danger">{{requiredMsg}}</span>
              </label>
              <div class="col-md-8">
                <input class="form-control" type="password" formControlName="password" [ngClass]="{
                  'is-invalid': userForm.get('pswdGroup').errors}">

                <span *ngIf="userForm.get('pswdGroup.password').errors?.pattern" class="text-danger">
                  {{ passwordPatternMsg }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Confirm password
                <span class="text-danger font-weight-bold">*</span>:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" formControlName="cPassword" [ngClass]="{
                'is-invalid':userForm.get('pswdGroup').errors}">
                <span *ngIf="userForm.get('pswdGroup').errors&&userForm.get('pswdGroup').errors.matchPasswords" class="text-danger">
                  {{matchPasswordsMsg}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
            <span></span>
            <input type="button" class="btn btn-default" value="Test" (click)="populateTestData()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
